extends layout

block content
    div.form-container
        form(action='' method='post').form
            label(for='title') Title:
            input(type="text" id="title" name="title" value=(message ? message.title : ''))
            label(for='text') Text:
            input(type="text" id="text" name="text" value=(message ? message.text : ''))
            button(type='submit') Post
    ul
        if errors
            each error in errors
                li=error.msg

