<div class="form-container">
    <form action="/sign-in" method="POST" class="form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Sign In</button>
    </form>
</div>
