* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;

  .logout-img {
    width: 15px;
    height: 15px;
  }
}

.button {
  border: 1px solid;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .form {
    display: grid;
  }
}

