* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;

  .logout-img {
    width: 15px;
    height: 15px;
  }
}

.button {
  border: 1px solid;
  border-radius: 8px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px 0;

  .title {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
}

.messages-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  .message {
    border: 1px solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    :first-child {
      margin-bottom: 10px;
    }

    :nth-child(2) {
      margin-bottom: 20px;
    }
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;

  .form {
    display: grid;
  }
}

.user-details {
  .title {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
  }
}

