body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sign-up-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.sign-up {
  display: grid;
}
